/* used CSSgridient.io to create favoured background with rotation of the gradient colors to my liking . */

:root{
    
    --teamBackground: linear-gradient(225deg, rgba(234, 238, 16, 0.65) 24%,rgb(190, 123, 84) 52%);
    --headingTextColor: rgba(255, 255, 255, 0.8);
}


.title
{

    background: var(--titleBackground);
    color:var(--headingTextColor);

}

html
{
height: 100vh;
}

body
{

margin:0;
padding:0;
max-height: 100%;
background-color: rgba(0, 0, 0, 0.8);
}



.container 
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
}

.teamProfileContainer
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}


.teamContainer
{
    display:flex;
    flex-wrap: wrap-reverse;
    width:100%;
   
   
}

/*manager card style*/
#manID
{
    min-width: 360px;
}

.manCard,.teamCard
{
    background: var(--teamBackground);
    color: rgba(255, 255, 255, 0.685);
    margin: auto;
    border:darkblue 1px solid;
    text-align: center;
    font-size: 1.5em;
}



.mHeader
{
  margin: 0.5em;
}

h1
{
    font-size: 30px;
}