/* used CSSgridient.io to create favoured background with rotation of the gradient colors to my liking . */

:root{
    
    --teamBackground: rgba(36, 127, 200, 0.342) ;
    --headingTextColor: rgb(255, 255, 255);
}


.headerTitle
{

    background: var(--titleBackground);
    color:var(--headingTextColor);
    font-size: 3rem;
    margin: 0;
}

html
{
height: 100vh;
}

body
{

margin:0;
padding:0;
max-height: 100%;
background-color: rgba(18, 58, 122, 0.8);
}

a
{
color:rgb(103, 241, 23);
text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.container 
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
}

.teamProfileContainer
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

.teamContainer
{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

/*manager card style*/
#manID
{
    min-width: 360px;
}

.manCard,.teamCard
{
    background: var(--teamBackground);
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
    border:darkblue 1px solid;
    font-size: 1.5em;
}

.mHeader
{
    text-align: center;
    text-decoration: underline;
}

.manCard
{
    padding:10px;
}

.teamCard
{
    min-width: 200px;
    padding: 10px;
}

.footerTitle
{
    color:rgb(255, 255, 255);
}
